.testimonial {
	padding: 10rem 0;

	.container {
		max-width: 1250px !important;
	}

	&__slider {
		margin-top: 10rem;
		position: relative;
		&-card {
			display: flex;
			background: #efefef;
			transition: all 0.5s ease;
		}

		&-img {
			flex: 0 0 50%;
			img {
				height: 100%;
				object-fit: cover;
			}
		}

		&-content {
			flex: 0 0 50%;
			text-align: center;
			padding: 4rem 2rem;

			p {
				// font-family: $font-poppins;
				@media only screen and (max-width: $mbl-port) {
					font-size: 14px !important;
				}
				@media only screen and (max-width: $mbl-small) {
					font-size: 12px !important;
				}
			}
		}

		h3.heading {
			font-size: 2.5rem;
			font-family: $font-gilroy;
		}

		.rating__text {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;

			span {
				display: flex;
				align-items: center;
				margin-right: 1rem;
				svg {
					width: 15px;
					height: 15px;
					fill: #ffbe55;
				}
			}
		}

		.owl-dots {
			display: none !important;
		}
		.owl-nav {
			display: block !important;

			.owl-prev,
			.owl-next {
				position: absolute;
				top: 50%;
				span {
					font-size: 8rem;
					color: $color-primary;
					line-height: 0;
				}

				&:hover {
					background: none;
				}
			}

			.owl-prev {
				left: -50px;
			}
			.owl-next {
				right: -50px;
			}

			@media only screen and (max-width: $laptop-land) {
				.owl-prev,
				.owl-next {
					margin-top: 5rem;
					position: relative;
				}
			}
		}

		.owl-item {
			opacity: 0;
			position: relative;
			transition: all 0.5s;
		}

		.owl-item.active {
			opacity: 1;
			position: relative;
			z-index: -1;
			.testimonial__slider-card {
				opacity: 0.7;
				transform: scale(0.7);
			}
			&.center {
				z-index: 5;
				position: relative;
				.testimonial__slider-card {
					opacity: 1;
					transform: scale(1.3);
					// box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

					.testimonial__slider-content {
						transform: scale(0.7);
					}

					@media only screen and (max-width: 600px) {
						transform: scale(1);
						.testimonial__slider-content {
							transform: scale(1);
						}
					}
				}
				//
			}
		}
	}
}
