.cta {
	padding: 18rem 0;
	text-align: center;
	background: linear-gradient(to right, $color-secondary, $color-primary);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
